.showing_text_effect {
	animation: showing_text_effect 2s both;
	font-size:20px;
}

#sphase1{
	animation: phase1 2s both;
}

.phase1{
	animation: showing_text_effect 2s both, phase1 2s both;
}

@keyframes showing_text_effect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes phase1 {
	to {transform:translateX(5%)}
}