h4 {
	line-height: 0.6;
}

narr {
	color : #FC6
}

you {
	color : #6CF
}

whisper {
	color : grey;
	opacity: 0.5;
}

blush {
	color : #FFC0CB
}

.showing_text_effect {
	font-family: "Microsoft YaHei", 微软雅黑;
	animation: showing_text_effect 2s both;
	font-size: 20px;
}

.p1_text_effect{
	animation: showing_text_effect 2s both, phase1 2s both;
}

.msgs::-webkit-scrollbar{
	display: none;
}

#misc{
	position: absolute;
	bottom: 0px;
	right: 10px;
}

#achievs {
	width: 800px;
	height: 100px;
	border: solid;
	position: absolute;
	top: 10px;
	right: 20px;
}

#ss{
	font-size: 40px;
	animation: ss 4s infinite alternate;
}

@font-face{
	font-family:"洛体"; src:url("fonts/LUO-REGULAR.TTF") format('truetype');;
}
@font-face{
	font-family:"SimSun"; src:url("fonts/SIMSUN.TTC") format('truetype');;
}
@font-face{
	font-family:"SimSun-ExtB"; src:url("fonts/SIMSUNB.TTF") format('truetype');;
}
@font-face{
	font-family:"SimSun-ExtG"; src:url("fonts/SIMSUNEXTG.TTF") format('truetype');;
}

.hanzi{
	font-family: "Times New Roman", 洛体,  SimSun, SimSun-ExtB, SimSun-ExtG;
	animation: showing_text_effect 2s both;
	font-size: 30px;
}

@keyframes showing_text_effect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes phase1 {
	to {transform:translateX(5%)}
}

@keyframes ss {
	0% {color:#6cf}
	66% {color:#fc6}
	100% {color:thistle}
}