body {
	background-color: black;
  	color: white;
  	overflow: hidden;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 0;
	font-size: 1.5vw;
}

#help{
	border: 3px solid #e7e7e7;
	border-radius: 6px;
	background: none;
	position: absolute;
	right: 30px;
	top: 20px;
	font-family: "SimHei";
	font-size: 30px;
	width: 100px;
	height: 50px;
}

#exit{
	border: 3px solid #e7e7e7;
	border-radius: 6px;
	background: none;
	font-family: "SimHei";
	font-size: 25px;
	width: 80px;
	height: 50px;
    position: absolute;
    margin:auto;
    left:0;
    right:0;
}

#fund{
	display: none;
	/* 防止序数遮挡帮助界面 */
	background: #000;
	padding-bottom: 70px;
	
	font-family: "SimHei";
	font-size: 15px;
	position: absolute;
	line-height: 2em;
}

#misc{
	position: absolute;
	bottom: 0px;
	right: 10px;
}
