{
"printWidth": 120,
"useTabs": true,
"semi": true, 
"singleQuote": true,
"trailingComma": "none",
"bracketSpacing": true,
"arrowParens": "always", 
"vueIndentScriptAndStyle": false, 
"endOfLine": "auto",
"htmlWhitespaceSensitivity": "ignore"
}