body{
	margin-left: 0px;
	overflow: hidden;
}

code { /* 爱来自 mozilla 站 */
 	background-color: #eee;
 	border-radius: 3px;
 	font-family: courier, monospace;
	padding: 0 3px;
}


info {
	vertical-align: middle;
	font-size: 1em;
	line-height: 0.4;
}

h4 {
	line-height: 0.6;
}

p {
	position: absolute;
	margin: 0;
	font-size: 20px; /* 20px 是默认大小! */
	width: max-content;
}

.color {
	border: 1.5px solid black;
	border-radius: .2em;
	width: 20px;
	list-style-type: none;
	height: 20px;
	display: inline-block;
	margin-left: 2px;
}

.locked {
	color: #cecece;
}

.gradient {
	background: linear-gradient(to right, #6CF, #FC6);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bigHelp {
	margin-top: 0px;
	list-style-type: none;
}


#preview {
	border: 1.5px solid black;
	border-radius: .2em;
	width: 40px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	background-color: black; 
}


.colors {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
}


#misc {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

