@font-face{
	font-family: "MS PMincho";
	src:url('MSMINCHO.TTC'); format('truetype'); 
}

body{
	margin: 0;
}

#play{
	font-family: "Yu Mincho";
	font-size: 2vw;
	border-radius: 6px;
	border: 3px solid #e7e7e7;
	background: none;
	margin: 10px;
	padding: 0.2vw 1vw 0.2vw 1vw;
}

#title{
	position: absolute;
	font-family: "MS PMincho";
	font-size: 8vh;
	writing-mode: vertical-rl;
	letter-spacing: 4vh;
  	visibility: hidden
}

#bottom{
	position: absolute;
	font-family: "MS PMincho";
	font-size: 2.5vw;
	bottom: 7%;
	text-align: center;
	width: 100%;
	letter-spacing: 4px;
}
